<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Path" value="" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <!--<runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="My.Utility" publicKeyToken="91f9ac04a3ac8b10" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>-->
</configuration>